.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 30px;
  padding: 0 0 9px;
}
.popup__input:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .popup__input {
    margin: 0 0 30px;
  }
}